@model ClassLibrary.Data.Article.Articls

@{
    ViewBag.Title = "Добавление статьи";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Heading" class="control-label">Заголовок</label>
        <input type="text" asp-for="Heading" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Статья</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>

